# {{ image.pretty_name }} {{ image.version }} Container Image
{% include 'badges.j2' %}

## Description

The {{ image.pretty_name }} container image provides NVIDIA GPU drivers in a
containerized environment. This image is based on
{{ image.os_version.pretty_distribution_base_name }} and includes both the
open-source and proprietary NVIDIA kernel modules, along with the necessary
user-space tools.

It is specifically designed for use with the NVIDIA GPU Operator or for manual
driver deployment on container hosts. This image includes the NVIDIA driver
{{ image.version }}.

This container image contains [precompiled drivers](https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/latest/precompiled-drivers.html), allowing faster deployment.

## Usage

To deploy this container image, use the NVIDIA GPU Operator Helm chart version 26.3.1 or later, following [these steps](https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/latest/getting-started.html#procedure).

Arguments `--set driver.usePrecompiled=true` and `--set driver.version=<driver-branch>` must be added to `helm install` call. `<driver-branch>` is the major version of GPU driver (such as `595`, `590`, `580`..).

As an example:
```ShellSession
helm install --wait gpu-operator \
     -n gpu-operator --create-namespace \
     nvidia/gpu-operator \
     --version=v26.3.1 \
     --set driver.usePrecompiled=true \
     --set driver.version="<driver-branch>"
```

{% include 'licensing_and_eula.j2' %}
