[tool.poetry]
name = "bci-dockerfile-generator"
version = "0.1.0"
description = "Generator script for the Dockerfiles for the SLE BCI"
authors = ["Dan Čermák <dcermak@suse.com>"]
license = "GPL-3.0-or-later"
packages = [
    { include = "bci_build", from = "src" },
]
[tool.poetry.dependencies]
python = ">=3.9,<4.0"
Jinja2 = "^3.1"
aiohttp = "^3.8.1"
rpm-vercmp = "^0.1.2"
aiofiles = "^0.8.0"
obs-package-update = { git = "https://github.com/dcermak/obs-package-update", branch = "main" }

[tool.poetry.dev-dependencies]
black = "^22.6"
Sphinx = ">=4.4"
pytest = "^7.1.3"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
