## Notice

The .NET packages in the image come from a third-party repository 
[packages.microsoft.com](https://packages.microsoft.com).

The source code is available on [github.com/dotnet](https://github.com/dotnet).

SUSE does not provide any support or warranties for the third-party components in the image.
