# {{ image.title }}: Git application container
{% include 'badges.j2' %}


## Description

Git is a distributed version control system that tracks
versions of files. Git is primarily designed for controlling source code in collaborative software development.


## Usage

This container provides the {{ image.publish_registry.vendor }} version of Git.

Example of using Git container:

```ShellSession
$ podman run {{ image.pretty_reference }} git help
```

As Git requires a repository, the container
does not explicitly set an entrypoint. This way, you can launch the container in
interactive mode to clone a repository and work on it. To avoid losing all your changes when exiting the container, use a persistent volume mount on launch.

For more use cases and documentation, refer to the
[Git SCM documentation](https://git-scm.com/doc).


{% include 'licensing_and_eula.j2' %}
