# {{ image.pretty_name }} Container Image

{% include 'badges.j2' %}

Kea is an open-source DHCP server developed by the [Internet Systems
Consortium](https://www.isc.org/) and the successor of the now deprecated
DHCPd. The Kea distribution includes a DHCPv4 server, a DHCPv6 server, and a
Dynamic DNS (DDNS) server. Significant features include: support for IPv6 prefix
delegation, host reservations (which may be optionally stored in a separate back
end database), Preboot Execution Environment (PXE) boot, client classification,
shared networks, and high-availability (failover pairs). Kea can store leases
locally in a memfile, or in a PostgreSQL or MySQL database. Kea has a supported
API for writing optional extensions, using 'hooks'.

## How to use this Container Image


The container image expects a configuration file in the directory `/etc/kea`.
To run DHCP using the configuration provided in the `/etc/kea` directory, execute the following command:

```ShellSession
podman container runlabel run \
      {{ image.pretty_reference }}
```
To run a DHCP6 server using the configuration file supplied in the directory `/etc/kea`, execute the following command:

```ShellSession
podman container runlabel run_dhcp6 \
      {{ image.pretty_reference }}
```

The Kea configuration file can also be provided in the current working directory.
To run a DHCP or a DHCP6 server using the configuration file in the current working directory, execute the following commands:

```ShellSession
$ # for DHCP
$ podman container runlabel runcwd \
      {{ image.pretty_reference }}
$ # for DHCP6
$ podman container runlabel runcwd_dhcp6 \
      {{ image.pretty_reference }}
```

{% include 'licensing_and_eula.j2' %}
