# {{ image.title }}: Base Container image without Zypper
{% include 'badges.j2' %}

## Description
This image comes without Zypper, but it does have the RPM package manager installed.
While RPM can install and remove packages, it lacks support for repositories and automated dependency resolution.
It is therefore intended for creating deployment containers, and then installing the desired
RPM packages inside the containers.

While you can install the required dependencies, you need to download and resolve them manually.
However, this approach is not recommended as it is prone to errors.

{% include 'licensing_and_eula.j2' %}
