{%- if image.os_version.is_ltss -%}
# SLE {{ image.os_version.pretty_os_version_no_dash }} LTSS Base Container Image
{%- else -%}
# {{ short_bci }} {{ image.os_version.pretty_os_version_no_dash }} Base Container Image
{%- endif %}
{% include 'badges.j2' %}

## Description

{{ pretty_bci }} provide open, flexible,
and secure container images. The images include container environments based on
{{ image.os_version.pretty_distribution_base_name }} and are available at no cost, they can be freely
re-distributed, and they are supported across different environments.

The Base Container Image is an image used as a foundation for many {{ short_bci }}s. The
image is intended to be extended for further use, such as a development or a
testing environment.


## Usage

The container image comes with the `zypper` package manager
{%- if not image.os_version.is_ltss %}
, the free `SLE_BCI` repository
{%- endif %}
and the `container-suseconnect` utility. This allows you to access
the full {{ image.os_version.pretty_distribution_base_name }} repositories with a subscription. The image is designed
to be extended by installing packages required for your specific scenario.

To build a custom image using a `Containerfile` that includes the
[`skopeo`](https://github.com/containers/skopeo) utility, create the following
`Containerfile`:
```Dockerfile
FROM {{ image.pretty_reference }}
RUN set -euo pipefail; \
    zypper -n ref; \
    zypper -n in skopeo; \
    zypper -n clean -a ; \
    rm -rf /var/log/{lastlog,tallylog,zypper.log,zypp/history,YaST2}
```

Then build the container using `buildah`:
```bash
buildah bud -t bci-skopeo .
```

The image can also be used interactively to create a container with skopeo
installed in it:
```ShellSession
$ podman run -ti --rm {{ image.pretty_reference }}
# zypper -n in skopeo
...
# skopeo inspect -f {% raw %}"{{ .Name }}"{% endraw %} docker://{{ image.pretty_reference }}
{% set ref_list = image.pretty_reference.split(":") %}{{ ref_list[0] }}
```

{%- if not image.os_version.is_ltss %}
### The SLE_BCI repository

The container image comes with the free `SLE_BCI` repository. The repository
provides the latest version of a subset of packages from {{ image.os_version.pretty_distribution_base_name }}.
These packages are available at no cost and can be freely redistributed.
{%- endif %}

### Getting access to the {{ image.os_version.distribution_base_name }} repositories

The `container-suseconnect` utility in the image can automatically add the full
repositories into the running container if you have a valid
{{ image.os_version.pretty_distribution_base_name }} subscription.

Find more information about container-suseconnect in the
[`container-suseconnect`](https://documentation.suse.com/container/all/single-html/Container-guide/index.html#sec-container-suseconnect)
section in the container guide or in the tutorial ["How to use
container-suseconnect"](https://opensource.suse.com/bci-docs/guides/container-suseconnect/).


{% if image.os_version.is_ltss %}
{% include 'access_protected_images.j2' %}
{%- endif %}
{% include 'licensing_and_eula.j2' %}
