# {{ image.title }}: One broker to queue them all
{% include 'badges.j2' %}


## Description

RabbitMQ is a powerful, enterprise grade open source messaging and streaming
broker that enables efficient, reliable and versatile communication for
applications — perfect for distributed microservices, real-time data, and IoT.

## Usage

This container provides the {{ image.publish_registry.vendor }} version of RabbitMQ.

For more use cases and documentation, refer to the
[RabbitMQ documentation](https://www.rabbitmq.com/docs).


{% include 'licensing_and_eula.j2' %}
