# The PHP {{ image.version }} container image

{% include 'badges.j2' %}

{% include 'php_description.j2' %}

## How to use the image

This image ships with the PHP interpreter as the entrypoint. The image is
intended to be used to execute PHP scripts or PHP commands directly.

To launch an interactive shell in a container, use the following command:
```ShellSession
$ podman run --rm -it {{ image.pretty_reference }}
Interactive mode enabled

php > echo 5+8;
13
```

You can also use the container instead of the PHP
interpreter to execute PHP scripts:
```ShellSession
$ cat /tmp/test.php
<?php
echo 5+8
$ podman run --rm -it -v /tmp/test.php:/src/test.php:Z \
    {{ image.pretty_reference }} -f /src/test.php
13
```

{% include 'php_common.j2' %}

{% include 'licensing_and_eula.j2' %}
