# The SUSE Linux Enterprise 15 SP3 FIPS-140-2 Container image
{% include 'badges.j2' %}

## Description
This SUSE Linux Enterprise 15 SP3-based container image includes the
SLES 15 FIPS-140-2 certified OpenSSL and libgcrypt modules.

The [FIPS-140-2 certified OpenSSL module](https://csrc.nist.gov/CSRC/media/projects/cryptographic-module-validation-program/documents/security-policies/140sp3991.pdf)
is a cryptographic module that provides a FIPS-140-2 compliant
cryptographic library. The module is certified by the National
Institute of Standards and Technology (NIST).

The FIPS-140-2 certified OpenSSL module is a drop-in replacement for the
standard OpenSSL library. It provides the same functionality as the standard
OpenSSL library, with additional security features to meet the FIPS-140-2
requirements.

Similarly, the [FIPS-140-2 certified libgcrypt module](https://csrc.nist.gov/CSRC/media/projects/cryptographic-module-validation-program/documents/security-policies/140sp3848.pdf)
is a drop-in replacement for the standard libgcrypt library. It provides the
same functionality as the standard libgcrypt library, with the additional
security features enforced to meet FIPS-140-2 requirements.

## Usage
The image is configured to enforce the use of FIPS-140 mode by default, independent of the host environment setup. This is achieved by specifying the following environment variables:
* `OPENSSL_FIPS=1`: Initialize the OpenSSL FIPS-140 mode
* `OPENSSL_FORCE_FIPS_MODE=1`: Set FIPS mode to enforcing independent of the host kernel
* `LIBGCRYPT_FORCE_FIPS_MODE=1`: Set FIPS mode in libgcrypt to enforcing

Below is a list of other environment variables that can be used to configure the OpenSSL library:

* `OPENSSL_ENFORCE_MODULUS_BITS=1`: Restrict the OpenSSL module to only generate
the acceptable key sizes of RSA.


{% include 'access_protected_images.j2' %}
{% include 'licensing_and_eula.j2' %}
