{% if image.build_version == '15.4' %}
# The SUSE Linux Enterprise 15 SP4 LTSS FIPS-140-3 container image
{% else %}
# The SUSE Linux Enterprise FIPS-140-3 container image
{% endif %}
{% include 'badges.j2' %}

## Description

{% if image.build_version | string == "15.4.0" %}
This SUSE Linux Enterprise 15 SP4 LTSS-based container image includes the
OpenSSL and libgcrypt modules that have been interim validated to FIPS 140-3.

The [FIPS 140-3 certified OpenSSL module](https://csrc.nist.gov/CSRC/media/projects/cryptographic-module-validation-program/documents/security-policies/140sp4725.pdf)
is a cryptographic module that provides a FIPS 140-3 compliant cryptographic
library. The module is designed to provide the same functionality as the
standard OpenSSL library, with additional security features to meet the FIPS
140-3 requirements. [An interim validation has been issued](https://csrc.nist.gov/projects/cryptographic-module-validation-program/certificate/4725)
by NIST.

Similarly, the [FIPS 140-3 certified libgcrypt module](https://csrc.nist.gov/CSRC/media/projects/cryptographic-module-validation-program/documents/security-policies/140sp4722.pdf)
is designed to provide the same functionality as the standard libgcrypt
library, with additional security features enforced to meet the FIPS 140-3
requirements. [An interim validation has been issued](https://csrc.nist.gov/projects/cryptographic-module-validation-program/certificate/4722)
by NIST.

{% elif image.build_version | string == "15.6.0" %}
This SUSE Linux Enterprise 15 SP6 LTSS-based container image includes the
OpenSSL FIPS provider and libgcrypt modules that have been interim validated to FIPS 140-3.

The [FIPS 140-3 certified OpenSSL FIPS Provider module](https://csrc.nist.gov/CSRC/media/projects/cryptographic-module-validation-program/documents/security-policies/140sp5096.pdf)
is a cryptographic module that provides a FIPS 140-3 compliant cryptographic
library. The module is designed to plug into the provided OpenSSL library, adding security features to meet the FIPS
140-3 requirements.

Similarly, the libgcrypt module is designed to provide the same functionality as the standard libgcrypt
library, with additional security features enforced to meet the FIPS 140-3
requirements. This library is currently pending validation by NIST.
{% else %}
This base container image is configured with FIPS mode enabled by default, but it **does not** include any certified binaries.
{% endif %}

## Usage
The image is configured to enforce the use of FIPS mode by default,
independent of the host environment setup, by specifying the following
environment variables:
* `OPENSSL_FIPS=1`: Initialize the OpenSSL FIPS mode
* `OPENSSL_FORCE_FIPS_MODE=1`: Set FIPS mode to enforcing independent of the host kernel
* `LIBGCRYPT_FORCE_FIPS_MODE=1`: Set FIPS mode in libgcrypt to enforcing

Below is a list of other environment variables that can be used to configure the OpenSSL library:

* `OPENSSL_ENFORCE_MODULUS_BITS=1`: Restrict the OpenSSL module to only generate
the acceptable key sizes of RSA.

{%- if image.os_version.is_ltss %}
{% include 'access_protected_images.j2' %}
{%- endif %}
{% include 'licensing_and_eula.j2' %}
