# The SUSE Linux Enterprise 15 SP3 FIPS-140-2 Container image
{% include 'badges.j2' %}

## Description
This container image is a SUSE Linux Enterprise 15 SP3 base container image
that includes the SLES 15 FIPS-140-2 certified OpenSSL module.

The FIPS-140-2 certified OpenSSL module is a cryptographic module that provides
a FIPS-140-2 compliant cryptographic library. The module is certified by the
National Institute of Standards and Technology (NIST).

The FIPS-140-2 certified OpenSSL module is a drop-in replacement for the
standard OpenSSL library. It provides the same functionality as the standard
OpenSSL library, with additional security features to meet the FIPS-140-2
requirements.

## Usage
The image is configured to enforce the use of FIPS-140 mode by default via the
environment variable `OPENSSL_FORCE_FIPS_MODE`. This variable is set to `1` in
the image. This means that all cryptographic operations performed by the
OpenSSL library are done in FIPS-140-2 mode.

{% include 'access_protected_images.j2' %}
{% include 'licensing_and_eula.j2' %}