---
name: Check the changelogs

on:
  pull_request:

permissions:
  contents: read

jobs:
  changelog-check:
    name: changelog check
    runs-on: ubuntu-latest
    container: registry.opensuse.org/opensuse/bci/bci-ci:latest

    steps:
      - uses: actions/checkout@v6
        with:
          ref: main
          fetch-depth: 0

      - uses: actions/cache@v5
        with:
          path: ~/.cache/pypoetry/virtualenvs
          key: poetry-${{ hashFiles('poetry.lock') }}

      - name: install python dependencies
        run: poetry install

      - name: fix the file permissions of the repository
        run: chown -R $(id -un):$(id -gn) .

      - name: fetch all branches
        run: git fetch

      - name: check the changelog
        run: |
          poetry run scratch-build-bot \
              --os-version 6 -vvvv \
              changelog_check \
                  --base-ref origin/${{ github.base_ref }} \
                  --head-ref ${{ github.event.pull_request.head.sha }}
        env:
          OSC_USER: "irrelevant"
