---
name: CI

permissions:
  contents: write

on:
  push:
    branches:
      - "main"
  pull_request:

jobs:
  format:
    name: Ensure code is properly formatted
    runs-on: ubuntu-latest
    container: registry.opensuse.org/opensuse/bci/bci-ci:latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v5
        with:
          path: ~/.cache/pypoetry/virtualenvs
          key: poetry-${{ hashFiles('poetry.lock') }}

      - run: poetry install

      - name: Run ruff format
        run: poetry run ruff format --check --diff

      - name: run ruff linter
        run: poetry run ruff check

  ci:
    name: Run the unit tests
    runs-on: ubuntu-latest
    container: registry.opensuse.org/opensuse/bci/bci-ci:latest

    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v6
        with:
          # need the full history for the unit tests
          fetch-depth: 0

      - uses: actions/cache@v5
        with:
          path: ~/.tox
          key: tox-${{ matrix.python_version }}-${{ hashFiles('poetry.lock') }}

      - name: fix the file permissions of the repository
        run: chown -R $(id -un):$(id -gn) .

      - run: |
          poetry install
          poetry run pytest -vv

      - run: |
          mkdir -p pkg_dest
          for pkg in $(poetry run package --help|grep '{'|head -1|sed -e 's|{||' -e 's|}||' -e 's|,| |g' -e 's|\s+||'); do
              poetry run package $pkg pkg_dest
          done


  documentation:
    name: Build the documentation
    runs-on: ubuntu-latest
    container: registry.opensuse.org/opensuse/bci/bci-ci:latest

    steps:
      - uses: actions/checkout@v6
      - name: install dependencies
        run: poetry install

      - uses: actions/cache@v5
        with:
          path: ~/.tox
          key: tox-${{ hashFiles('poetry.lock') }}

      - name: build the documentation with sphinx
        run: poetry run sphinx-build -M html source build

      - name: upload the build directory
        uses: actions/upload-artifact@v5
        with:
          name: build
          path: ./build/html

  deploy:
    name: deploy to the gh-pages branch
    runs-on: ubuntu-latest
    needs: documentation
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v6
        with:
          name: build
          path: ./build

      - run: touch ./build/.nojekyll

      - name: deploy to github pages
        uses: JamesIves/github-pages-deploy-action@9d877eea73427180ae43cf98e8914934fe157a1a # v4
        with:
          branch: gh-pages
          folder: build
