---
name: Cleanup staging projects and branches

on:
  pull_request:
    types:
      - closed

jobs:
  cleanup:
    name: Cleanup
    runs-on: ubuntu-22.04
    container: ghcr.io/dcermak/bci-ci:latest

    strategy:
      fail-fast: false
      matrix:
        os_version:
          - 7
          - 6
          - 5
          - 4
          - 3
          - "16.0"
          - Tumbleweed

    steps:
      # we need all branches for the build checks
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/cache@v4
        with:
          path: ~/.cache/pypoetry/virtualenvs
          key: poetry-${{ hashFiles('poetry.lock') }}

      - name: fix the file permissions of the repository
        run: chown -R $(id -un):$(id -gn) .

      - name: install python dependencies
        run: poetry install

      - name: find last comment made by the bot
        uses: peter-evans/find-comment@v3
        id: find_comment
        with:
          issue-number: ${{ github.event.number }}
          body-includes: "Rendered the templates for ${{ matrix.os_version }}: "
          direction: last

      - name: run the cleanup
        run: |
          poetry install
          echo "${{ steps.find_comment.outputs.comment-body }}" | poetry run scratch-build-bot -vvvv --from-stdin cleanup
        shell: fish {0}
        if: steps.find_comment.outputs.comment-id != ''
        env:
          OSC_PASSWORD: ${{ secrets.OSC_PASSWORD }}
          OSC_USER: "defolos"
