---
name: Slash Command Dispatch
on:
  issue_comment:
    types: [created]
jobs:
  dispatch-command:
    runs-on: ubuntu-latest
    steps:
      - name: Slash Command Dispatch
        uses: peter-evans/slash-command-dispatch@5c11dc7efead556e3bdabf664302212f79eb26fa # v4
        with:
          token: ${{ secrets.PAT }}
          commands: |
            vc
            help
          issue-type: pull-request
          permission: none
